# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
.classpath
.project
.settings/


/.idea/
*.iml
*.iws
out/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Binarios generados
/bin/
/build/
